.git
.gitignore
.idea
.DS_Store
.env
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
env/
helm-config/
k8s/
test/
planning.md
README.md
deploy-charts-cluster.sh
deploy-charts-minikube.sh
gateway_nginx.conf
requirements.txt
